<md-button ng-show="backButtonVisible" class="md-icon-button back-button" aria-label="More" ng-click="backHistory()">
    <md-icon md-svg-icon="../images/arrow_back.svg"></md-icon>
</md-button>
<md-toolbar class="md-tall dn-header">
    <div layout="row">
        <h2 class="md-toolbar-tools">
            <span ng-class="{'back-button-padding': backButtonVisible}">Top Movie Shack</span>
        </h2>
        <div ng-show="cartSummaryVisible" class="cart-summary" layout="row">
            <h3 hide-sm>Items <span>{{itemCount}}</span></h3>
            <h3>Subtotal <span>{{totalPrice|currency}}</span></h3>
        </div>
    </div>
</md-toolbar>
<md-toolbar class="dn-hidden-header">
    <div layout="row">
        <h2 class="md-toolbar-tools">
            <span ng-class="{'back-button-padding': backButtonVisible}">Top Movie Shack</span>
        </h2>
        <div ng-show="cartSummaryVisible" class="cart-summary" layout="row">
            <h3 hide-sm>Items <span>{{itemCount}}</span></h3>
            <h3>Subtotal <span>{{totalPrice|currency}}</span></h3>
        </div>
    </div>
</md-toolbar>
<div ui-view></div>