<md-progress-linear ng-show="loading" class="dn-progress-linear" md-mode="indeterminate"></md-progress-linear>
<md-content>
    <md-list class="product-list">
        <div infinite-scroll="loadProducts()"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="1"
             layout="row" layout-wrap>
            <md-item class='product' ng-repeat="product in products" flex-gt-lg="20" flex-lg="25" flex-md="33"
                     flex-sm="50">
                <md-card>
                    <md-item-content layout="column">
                        <img fallback-src="../images/img-not-found.png" ng-src="{{getImage(product.image_path)}}">

                        <div class="details">
                            <div layout="row" layout-align="start start">
                                <h2 flex="70">{{product.name}}</h2>
                                <div flex="30" layout="column">
                                    <h3>{{product.price|currency}}</h3>
                                    <div layout="row">
                                        <md-input-container md-no-float>
                                            <input class="qty" type="number" step="1" ng-model="product.qty" min="1" max="100">
                                        </md-input-container>
                                        <md-button
                                                class="add-to-cart-button"
                                                aria-label="Delete Product"
                                                ng-click="addToCart(product, $event)">
                                            <img src="../images/add-to-cart.png">
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-item-content>
                </md-card>
            </md-item>
        </div>
    </md-list>
</md-content>
<div class="dn-fab-padding"></div>
<md-button class="md-primary md-fab dn-fab" aria-label="Checkout" ng-click="viewCart($event)">
    <md-icon icon="https://material.angularjs.org/img/icons/ic_photo_24px.svg"></md-icon>
</md-button>
