/*
@author   David Nadeau
@page     styles.css
*/

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}
md-toast {
    position:fixed;
}
.dn-fab {
    position: fixed;
    bottom:3%;
    right:3%;
}
.dn-fab-padding {
    height: 60px;
}

.dn-header {
    z-index:20;
}
.back-button{
    position:fixed;
    top: 12px;
    left: 4px;
    z-index:21;
}
.back-button-padding {
    margin-left: 32px;
}
.dn-header .cart-summary {
}
.dn-header .cart-summary h3 {
    color: rgba(255,255,255,0.56);
    font-weight: 400;
    font-size: 0.95em;

}
.dn-header .cart-summary h3 span {
    color: rgba(255,255,255,0.87);
    font-weight: 400;
    font-size: 1.1em;
    padding-right: 8px;
}
.dn-hidden-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index:19;
}
.dn-hidden-header .cart-summary {
    position: fixed;
    top: 8px;
    right: 8px;
}
.dn-hidden-header .cart-summary h3 {
    color: rgba(255,255,255,0.56);
    font-weight: 300;
    font-size: 0.75em;

}
.dn-hidden-header .cart-summary h3 span {
    color: rgba(255,255,255,0.87);
    font-weight: 400;
    font-size: 0.8em;
    padding-right: 8px;
}

.dn-progress-linear {
    height: 12px;
    margin-top: -6px;
}

.product-list {}
.product-list .product {
    padding-bottom: 16px;
}
.product-list .product .details {
    width:100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.8);
    margin-top:-85px;
}
.product-list .product .details h2{
    margin:0;
    padding: 4px 0 0 8px;
    text-align: left;
    font-weight: 400;
    font-size: 0.9em;
    color: rgba(255,255,255,0.87);
}
.product-list .product .details h3{
    padding-right:12px;
    text-align: right;
    font-weight: 400;
    font-size: 0.7em;
    color: rgba(255,255,255,0.54);
}
.product-list .product .add-to-cart-button img{
    width: 24px;
    height: 24px;
}
.product-list .product md-input-container {
    padding:0;
}
.product-list .product .details .qty{
    margin: 4px 0 0 8px;
    width:60px;
    color: rgba(255,255,255,0.87);
}

.cart-review {
    margin:24px;
}
.cart-review .product {
    padding-left: 16px;
    padding-right: 16px;
}
.cart-review .product h4 {
    padding-left:24px;
    font-weight: 400;
    font-size: 1.0em;
}
.cart-review .product h5 {
    padding-left:24px;
    font-weight: 400;
    font-size: 0.8em;
    margin:0;
}
.cart-review .product md-input-container {
    padding: 0 0 0 24px;
}
.cart-review .product input {
    font-weight: 400;
    font-size: 0.8em;
    width:60px;
}
.cart-review .rounded-image {
    border-radius: 10%;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
}
.cart-review .order-summary {
    width:278px;
    padding-right:4%;
}
.cart-review .order-summary h3 {
    font-weight: 400;
    font-size: 1.1em;
}
.cart-review .order-summary h4 {
    font-weight: 400;
    font-size: 0.7em;
    color: rgba(0,0,0,0.56);
}

.cart-review .order-summary h4 span {
    float:right;
    padding-left: 6px;
    color: rgba(0,0,0,0.87);
}
.cart-review .order-summary .place-order-button {
    width:100%;
    margin-bottom:8px;
}

.order-confirmation {
    margin: 24px 48px;
    padding:24px;
}
.order-confirmation img {
    padding-right:16px;
}
.order-confirmation h1 {
    font-weight: 400;
    font-size: 1.2em;
    color: rgba(0,0,0,0.87);
    padding-bottom: 8px;
}
.order-confirmation h2 {
    font-weight: 400;
    font-size: 0.8em;
    color: rgba(0,0,0,0.87);
    margin: 0;
}
.order-confirmation h2 span {
    color: rgba(0,0,0,0.56);
}

.order-confirmation h3 {
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom:-8px;
    padding-top:12px;
}
