/*
@author   David Nadeau
@page     styles.css
*/

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

.dn-fab {
    position: fixed;
    bottom:3%;
    right:3%;
}
.dn-progress-linear {
    height: 12px;
    margin-top: -6px;
}

