/*
@author   David Nadeau
@page     styles.css
*/

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}
md-toast {
    position:fixed;
}
.dn-fab {
    position: fixed;
    bottom:3%;
    right:3%;
}
.dn-fab-padding {
    height: 60px;
}

.dn-header {
    z-index:20;
}
.dn-header .cart-summary {
    top: 8px;
    right: 8px;
}
.dn-header .cart-summary h3 {
    font-weight: 400;
    font-size: 1.1em;

}
.dn-header .cart-summary h3 span {
    font-weight: 600;
}
.dn-header .cart-summary img{
    width: 32px;
    height: 32px;
}
.dn-hidden-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index:19;
}
.dn-hidden-header .cart-summary {
    position: fixed;
    top: 8px;
    right: 8px;
}
.dn-hidden-header .cart-summary h3 {
    font-weight: 400;
    font-size: 0.9em;
}
.dn-hidden-header .cart-summary h3 span {
    font-weight: 600;
}
.dn-hidden-header .cart-summary img{
    width: 24px;
    height: 24px;
}
.dn-progress-linear {
    height: 12px;
    margin-top: -6px;
}

.product-list {}
.product-list .product {
    padding-bottom: 16px;
}

.product-list .product .details {
    width:100%;
    background-color: rgba(0,0,0,0.8);
    margin-top:-95px;
}
.product-list .product .details h2{
    padding-left:8px;
    text-align: left;
    font-weight: 400;
    font-size: 0.9em;
    color: rgba(255,255,255,0.87);
}
.product-list .product .details h3{
    padding-right:12px;
    text-align: right;
    font-weight: 400;
    font-size: 0.7em;
    color: rgba(255,255,255,0.54);
}
.product-list .product .add-to-cart-button img{
    width: 24px;
    height: 24px;
}
.product-list .product .details .qty{
    color: #ffffff;
}

.cart-review {}
.cart-review .product {
    padding-left: 16px;
    padding-right: 16px;
}
.cart-review .rounded-image {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
}
.cart-review .order-summary {
    width:288px;
    padding-right:4%;
}
.cart-review .order-summary h3 {
    font-weight: 400;
    font-size: 1.1em;
}
.cart-review .order-summary h4 {
    font-weight: 400;
    font-size: 0.7em;
    color: rgba(0,0,0,0.56);
}
.cart-review .order-summary h4 span {
    float:right;
    padding-left: 6px;
    color: rgba(0,0,0,0.87);
}
